* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 100px;
    font-family: Helvetica, Arial, sans-serif;
}

button {
    cursor: pointer;
}

.delete {
    background: none;
    border: none;
    padding: 5px 10px;
    color: gray;
}

.container {
    max-width: 960px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.add-event-form {
    max-width: 600px;
    margin: auto;
}

.add-event-form__title {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 15px;
}

.add-event-form__group {
    width: 50%;
    margin-bottom: 15px;
    padding: 0 15px;
}

.add-event-form__label {
    display: block;
    margin-bottom: 5px;
}

.add-event-form__input {
    width: 280px;
    height: 31px;
    padding-left: 10px;
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
}

.add-event-form__submit {
    float: right;
    padding: 8px 24px;
    text-transform: uppercase;
    color: #fff;
    background-color: tomato;
    border: 0;
}

.days {
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 10px 100px 10px;
    border: #e0e0e0 1px solid;
}

.days__item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px 15px 15px;
}

.day__title {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    background-color: #e0e0e0;
}

.day__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 15px 15px;
}

.day__data {
    align-items: center;
    width: 45%;
    display: flex;
    justify-content: space-between;
}
